
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: "roboto",sans-serif;
}
@media print {
 .table, .table__body {
  overflow: visible;
  height: auto !important;
  width: auto !important;
 }
}

/*@page {
    size: landscape;
    margin: 0; 
}*/

body {
    min-height: 100vh;
    background-color: #6fcaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.table {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group .bx {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}


.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}


table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;

    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
  
}

tbody tr {
    
    cursor: pointer;
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}



@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}


.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background:  #198754 url(../img/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
    color:#fff;
}

.export__file .export__file-btn:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #2222fe!important;
    color:#fff;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}

.table__body .btn{
    cursor: pointer;
height: 32px;
border: none;
    width: 35px;
    border-radius: 5px;
}
.table__body .btn .bx{
color: #fff;
font-size: 25px;
}
.btn-detalhe {
  
    background-color: #0dcaf0;
    
  }
.btn-edit {
  
    background-color: #ffc107;
    
  }
  .btn-delete {
  
    background-color:  #dc3545;
    
  }

  .btn-download {
  
    background-color:  #198754;
    
  }
  .btn-group{
width: 180px;
    
  }

  [data-position]::after{

    top: -25px;
    left: 23px;
  }

  .btn-group button::after{

    content: attr(data-tooltip);
    color: #f2f2f2;
    background-color: #2222fe;
    opacity: 0;
    position: absolute;
    z-index: 3;
    border-radius: 2px;
    width: 105px;
    height: 25px;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: opacity .25s ease-in-out;
  }

  .btn-group button:hover:after{

    opacity: 1;
    visibility: visible;
  }

  /*CSS DO MODAL PARA APARECER A TELA*/
  .btnN{
    padding: 25px 60px;
    display: inline;
    background-color:  #dc3545;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.btnN:hover{
    background-color: #ff4c2c;
}

.modal-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000004b;
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal{
    width: 30%;
    min-width:400px;
    min-height: 300px;
    background-color: #fff;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 5px;
}

.fechar{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #ff0000;
    color: #fff;
    font-weight: 700;
    font-size: 14pt;
    cursor: pointer;
}

.modal h1{
    margin-bottom: 20px;
}

@keyframes animate-modal {
    from{
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.modal-container.mostrar{
    display: flex;
}

.mostrar .modal{
    animation: animate-modal .3s;
}

/*Estilo do formulario*/

/*Estilo do input formulario*/

.input input {
    width: 100%;
    height: 50px;
    text-indent: 20px;
    background: transparent;
    border: none;
    transition: all 0.3s ease;
    border: 1.5px solid #2222fe;
    border-radius: 10px;
    color: #1c0051;

  }
  
  .input input::placeholder {

    text-indent: 20px;
    color: #1c0051;
  }
                 
  .input .form-label{
    font-size: 16px;
    line-height: 1.5;

}
  .input select{
    width: 100%;
    height: 50px;
    text-indent: 20px;
    background: transparent;
    border: none;
    transition: all 0.3s ease;
    border: 1.5px solid #2222fe;
    border-radius: 10px;
    color: #1c0051;
  
  }
   .btn-armazenar {
 justify-content: center;
    width: 100%;
    height: 50px;
    background: #0002f5;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin: 15px;
  }
  
  .btn-armazenar:hover{
    text-decoration: none;
    background: #2ab0bf;
    color: white;
  }
  